<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Add food</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/theme.css}">

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" th:href="@{/home}">Home</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a th:href="@{/stats}" th:inline="text">[[${user}]] stats</a></li>
          <li class="active"><a th:href="@{/food}">Add Food Item</a></li>
          <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

    <div class="row">
      <div>

        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">Foods</h3>
          </div>

          <div class="panel-body">

            <form method="POST" th:action="@{/food}">
              <div class="form-group">
                <label for="food-name">Food Name</label>
                <input type="text" class="form-control" id="food-name" name="name" placeholder="Food Name">
              </div>
              <div class="form-group">
                <label for="calories">Calories</label>
                <input type="number" class="form-control" id="calories" name="calories" placeholder="Calories">
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>

            <div class="page-header"></div>

            <tr th:each="day: ${days}">
              <td th:text="${day.entryDate}" />
            </tr>
            <ul class="nav nav-pills" role="tablist" th:each="food: ${foods}">
              <li class="active"><a>
                  <p th:text="${food.name}"></p>
                </a></li>
              <li><a>Calories: <span class="badge" th:text="${food.calories}"></span></a></li>
            </ul>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>